  $font-family: 'Inter';
  $background-color: rgb(248, 248, 248);

  body {
    color: #2F4858 !important;
    font-family: $font-family !important;
  }

  span {
    color: #3BB54A;
  }

  //Header 
  .navbar {
    color: #333333;
    height: 80px;

    .container {
      height: 3.5rem;
      max-width: 1200px;
      min-width: 375px;

      .row {
        width: 100%;
        display: flex; // Sử dụng display: flex để biến các phần tử con thành các phần tử linh hoạt theo chiều ngang
        flex-wrap: nowrap; // Ngăn chặn quấn dòng khi không đủ không gian
        justify-content: space-between; // Các phần tử con sẽ tự động căn cách xa nhau
        align-items: center;

        .navbar-brand {
          display: flex;
          justify-content: space-between; // Các phần tử con sẽ tự động căn cách xa nhau
          align-items: end; // Căn giữa theo chiều dọc

          .logo {
            margin-left: auto;
          }
        }

        .icon-nav {
          display: none;

          .navbar-toggler {
            &.icon-search {
              display: none;
            }
          }
        }


      }

      #collapsibleNavbar {
        z-index: 2;

        .navbar-nav {
          display: flex;

          .nav-item {
            list-style-type: none;
            margin-top: 1%;
            margin-left: 10px;
            margin-right: 10px;

            .nav-link {

              &.text-body {
                font-family: $font-family, sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                white-space: nowrap;
                text-align: right;
                color: #3BB54A;

                &:hover {
                  font-weight: 700;
                  color: #3BB54A !important; // Màu chữ khi hover
                }
              }

            }

            &.btnLog {
              width: 7.1875rem;
              height: 2.375rem;
              border-radius: 22px;
              border: 2px solid #3BB54A;
              background-color: white;
              color: #3BB54A;
              padding: 8px;
              margin: 6px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              white-space: nowrap;
              line-height: 0px;
              font-weight: bold;

              &:hover {
                color: white;
                background-image: linear-gradient(to left, #7EC341, #3BB54A);
              }
            }
          }
        }
      }

    }

  }

  //Slider 
  .slider-content {
    width: 100%;
    max-width: 100%;
    background-color: rgb(248, 248, 248);

    &.container-fluid {
      padding: 0px;
    }

    .swiper-container-slide {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .swiper-wrapper {
        width: 100%;

        .swiper-slide {
          width: 100%;
          flex: 0 0 auto;
          display: inline-block;
          background-color: white;

          .slide-sizeimg {
            width: 100%; // Hình ảnh chiếm toàn bộ width của slide
            height: 100%;
            position: relative;
          }

          .text-overlay {
            width: 555px;
            height: 212px;
            position: absolute;
            top: 45%;
            left: 36%;
            transform: translate(-50%, -50%);

            h1 {
              width: 100%;
              height: 114px;
              font-size: 38px;
              font-weight: 700;
              text-align: left;
              font-style: normal;
              line-height: 57px;
              /* 150% */
              margin-bottom: 50px;
            }

            .slide-btn {
              font-size: 20px;
              width: 242px;
              height: 48px;
              line-height: 30px;
              border-radius: 36px;
              border: 2px solid #3BB54A;
              background-color: #3BB54A;

              a.text-link {
                text-decoration: none;
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
                /* 150% */
                font-family: $font-family;
              }
            }
          }


        }
      }
    }
  }

  //Benefit 
  .benefit-content {
    padding-top: 3%;
    background-color: rgb(248, 248, 248);
    border-bottom-left-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;

    .container {

      .benefit-header {
        margin-left: 5%;
        margin-right: 5%;

        h1.header-text {
          font-size: 36px;
          line-height: 43px;
          font-weight: 700;

        }

        p.header-text {
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
        }
      }

      .swiper.swiper-container-benefit {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        height: 100%;

        .swiper-wrapper {
          width: 100%;

          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 363px;
            height: 423px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 3px solid #3BB54A;
            border-radius: 3%;
            background-color: white;

            img {
              display: block;
              max-width: 100%; // Đảm bảo ảnh không vượt quá chiều rộng của slide
              height: auto; // Giữ tỉ lệ khung hình

            }

            .box-content {
              text-align: center; // Căn giữa nội dung trong box-content
              margin-top: 10px; // Ví dụ: thêm margin top là 10px giữa img và box-content

              span {
                font-size: 20px;
                font-weight: 700;
                line-height: 24.2px;
                margin-top: 10px;
              }

              p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                padding: 5% 15%;
              }
            }

          }
        }

        .swiper-button-control {

          .swiper-button-prev,
          .swiper-button-next {

            width: 44px;
            height: 44px;
            color: #3BB54A;
            transform: translateY(-50%);
            background-color: #E1F3E3;
            border: 2px solid #3BB54A;
            border-radius: 100%;

            &::after {
              --swiper-navigation-size: none;
              text-align: center;
              width: 100%;
            }
          }

          .swiper-button-prev {
            margin-left: 10%;
          }

          .swiper-button-next {
            margin-right: 10%;
          }
        }
      }
    }

  }

  //Service
  .service-content {
    margin-top: 3%;
    margin-bottom: 3%;

    .container {
      max-width: 1031px;

      .service-header {
        padding-top: 20px;
        display: none;

        h1 {
          text-align: center;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

      }

      .service-list {
        width: 100%;
        margin-bottom: 3%;
        display: flex;
        justify-content: center;

        ul.tab-service {
          list-style-type: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0;

          &.row {

            li {
              padding: 0;
              height: 100%;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center; // Căn giữa theo chiều ngang
              text-align: center; // Căn giữa nội dung text

              .tab-content {

                .img-service {
                  width: 56px;
                  height: 56px;

                }

                p {
                  width: 100%;
                  padding-top: 10px;
                  font-family: $font-family;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }

                .icon-dropdown {
                  display: none;
                }
              }

              &.active {
                border-bottom: 3px solid #3BB54A;

                p {
                  color: #3BB54A;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
              }
            }
          }


        }

      }

      .service-slide {
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;

        img {
          width: 50%;
          height: 50%;
          border: 2px solid #3BB54A;
          border-radius: 10px;

        }

        .content {
          margin-left: 5%;
          font-family: $font-family;
          letter-spacing: 0em;
          text-align: left;

          .tittle {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;

          }

          .description {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;

          }
        }

        &.active {
          display: flex;
        }
      }

    }

  }

  //Price
  .price-content {
    padding-top: 3%;
    background-color: $background-color;
    display: flex;
    justify-content: center;

    .price-container {
      width: 60%;

      .price-header {

        h1.header-text {
          margin-top: 3%;
          font-size: 28px;
          font-weight: 700;
          line-height: 34px;

        }

        p.header-text {
          font-family: $font-family;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          margin-top: 2%;
        }
      }

      .price-main {
        display: flex;
        justify-content: center;
        margin-top: 5%;

        .price-card {
          background-color: white;
          text-align: center;
          letter-spacing: 0em;
          order: 1;
          border-radius: 8px;
          height: 525px;

          .content-wapper {
            margin-left: auto;
            margin-right: auto;

            .content-header {
              padding-top: 10%;
              background-color: bisque;
              border-bottom-left-radius: 100% 50%;
              border-bottom-right-radius: 100% 50%;

              h4 {
                font-size: 28px;
                font-weight: 700;
                line-height: 34px;
                color: #4F4F4F;


              }

              p {
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 10%;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                color: #AEAEAE;

              }
            }

            .content-budget {
              color: #333333;
              font-size: 36px;
              font-weight: 600;
              line-height: 44px;
              margin-top: 10%;
              margin-bottom: 10%;
            }

            ul.content-benefit {
              list-style-type: none;
              margin: auto;
              border-bottom: 1px dashed #BDBDBD;
              width: 80%;
              height: 100%;
              padding: 0 0 10% 0;

              li {
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                color: #4A6069;
                text-align: left;
                margin-top: 5%;

                img {
                  margin-right: 5%;
                }
              }
            }
          }

          button.card-button {
            margin: 10% 0;
            width: 215px;
            height: 48px;
            border-radius: 36px;
            border: 2px solid #3BB54A;
            background-color: #3BB54A;

            a.text-link {
              font-size: 20px;
              font-weight: 600;
              line-height: 30px;
              text-decoration: none;
              color: white;
            }
          }

        }

        .price-note {
          order: 1;

          .content-wapper {

            img {
              background-color: #F5F6F9;
              width: 100%;
              height: 100%;
            }

            .content-text {
              margin-bottom: 53px;
              display: inline;
            }
          }
        }
      }
    }

  }

  //RESPONSIVE

  // Small devices (screen < 576px)
  @media (max-width: 576px) {

    //Header
    .navbar {
      height: 68px;

      .container {

        .row {
          width: 50%;
          height: 100%;
          margin-left: 0;
          margin-right: 0;

          .navbar-brand {
            padding-left: 3px;

            .logo {
              margin-left: 0;
            }
          }

          .icon-nav {
            display: flex;
            align-items: center;
            justify-content: end;
            padding-right: 3px;
          }

        }

        #collapsibleNavbar {
          background-color: #3BB54A;
          border: 5px solid #3BB54A;
          border-radius: 4%;

          .navbar-nav {

            .nav-item {
              margin: 1px;

              .nav-link {
                text-decoration: none;

                &.text-body {
                  border-radius: 22px;
                  border: 2px solid #3BB54A;
                  background-color: white;
                  text-align: center;
                  justify-content: center;

                  &:hover {
                    color: white !important;
                    background-image: linear-gradient(to left, #7EC341, #3BB54A);
                  }
                }
              }

              &.btnLog {
                width: 99.5%;
                height: 2.75rem;
                margin: 2px;
              }
            }
          }
        }

      }
    }

    //Slider
    .slider-content {
      height: 566px;

      .swiper-container-slide {
        .swiper-wrapper {
          .swiper-slide {

            .text-overlay {
              width: 317px;
              height: 206px;
              top: 25%;
              left: 45%;

              h1 {
                height: 126px;
                font-size: 28px;
                line-height: 42px;
                /* 150% */
                margin-bottom: 32px;
              }

              .span-mb {
                color: #2F4858;
              }

              .text-mb {
                display: inline;
                color: #3BB54A;
              }

              button.slide-btn {
                width: 15.125rem;
                height: 3rem;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
              }
            }
          }
        }
      }
    }

    //Benefit

    .benefit-content {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;

      .container {
        .benefit-header {
          margin-top: 10%;

          h1.header-text {
            font-size: 28px;
            line-height: 34px;
            font-weight: 700;

          }

          p.header-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
          }
        }

        //Benefit container
        .swiper.swiper-container-benefit {

          padding-top: 1%;
          padding-bottom: 10%;

          .swiper-wrapper {
            width: 100%;

            .swiper-slide {
              width: 100%;
              height: 424px;

            }
          }

          .swiper-button-control {

            .swiper-button-prev,
            .swiper-button-next {
              display: none;
            }
          }
        }
      }

    }

    //Service
    .service-content {

      .container {
        padding-left: 3px;
        padding-right: 3px;

        .service-header {
          display: block;
        }

        .service-list {
          margin-top: 5%;

          ul.tab-service {
            display: grid;
            padding: 0; // Loại bỏ padding mặc định của thẻ ul
            margin: 0; // Loại bỏ margin mặc định của thẻ ul

            &.row {
              margin-left: 0;

              li {
                background-color: #F2F2F2;
                padding-left: 0;
                width: 345PX;
                height: 60px;
                text-align: left;
                border-radius: 8px;
                margin-bottom: 16px;

                .tab-content {
                  margin: 0;
                  display: flex;
                  width: 100%;

                  img {
                    margin: auto;
                  }

                  .img-service {
                    width: 36px;
                    height: 36px;
                    margin: 12px;
                  }

                  p {
                    margin: auto;
                    padding-left: 12px;
                    padding-top: 0px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                  }

                  .icon-dropdown {
                    width: 24px;
                    height: 24px;
                    margin: 18px;
                    display: block;
                  }
                }

                &.active {
                  border: none !important;

                  p {
                    color: #3BB54A;
                  }


                }
              }


            }


          }

        }

        .service-slide {
          width: 100%;

          img {
            width: 100%;
            height: 50%;

          }

          .content {
            margin: 2%;

            .tittle {
              font-size: 18px;
              font-style: normal;
              padding-top: 5%;

            }

            .description {
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 21px;
              padding-bottom: 15%;
            }
          }

          &.active {
            display: block !important;
          }
        }
      }

    }

    //Price
    .price-content {

      .price-container {
        width: 100%;

        .price-header {

          h1.header-text {
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;

          }

          p.header-text {
            display: none;
          }
        }

        .price-main {
          display: grid;

          .price-card {
            margin-top: 10%;
            order: 1;

            .content-wapper {


              .content-header {

                p {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;

                }
              }

              .content-budget {
                font-size: 32px;
                font-weight: 600;
                line-height: 39px;
              }

              ul.content-benefit {


                li {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 24px;

                  img {
                    margin-left: 5%;
                  }
                }
              }
            }

            button.card-button {

              a.text-link {
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;

              }
            }

          }

          .price-note {
            order: 2;
            margin-top: 24px;
            img {
              display: none;
            }
          }
        }


      }

    }
  }

  // Medium devices (577px < screen < 991px)
  @media (max-width: 991px) and (min-width: 577px) {

    //Header
    .navbar {

      .container {
        padding: 0;
        max-width: 100%;

        .row {
          width: 100%;
          margin: 0;

          .navbar-brand {
            padding-left: 32px;
            padding-top: 2px;

            .logo {
              margin-left: 0;
            }
          }

          .icon-nav {
            display: flex;
            justify-content: right;
            padding-right: 0;

            .navbar-toggler {
              &.icon-search {
                display: inline;
              }
            }
          }
        }

        #collapsibleNavbar {
          background-color: #3BB54A;
          border: 5px solid #3BB54A;
          border-radius: 4%;

          .navbar-nav {
            .nav-item {
              margin: 1px;

              .nav-link {
                text-decoration: none;

                &.text-body {
                  border-radius: 22px;
                  border: 2px solid #3BB54A;
                  background-color: white;
                  text-align: center;

                  &:hover {
                    color: white !important;
                    background-image: linear-gradient(to left, #7EC341, #3BB54A);
                  }
                }
              }

              &.btnLog {
                width: 99.5%;
                height: 2.75rem;
                margin: 2px;
              }
            }
          }
        }

      }
    }

    //Slider
    .slider-content {
      width: 25%;
      height: 553px;

      .swiper-container-slide {
        .swiper-wrapper {
          .swiper-slide {
            .text-overlay {
              width: 34.6875rem;
              height: 7.125rem;
              top: 30%;
              left: 40%;
              font-size: 38px;
              line-height: 57px;
              font-weight: 700;
              ;
            }

            button.slide-btn {
              top: 50%;
              left: 3%;
              font-size: 20px;
              font-weight: 600;
              line-height: 30px;
            }

          }
        }
      }
    }

    //Benefit
    .benefit-content {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;

      &.container-fluid {
        padding: 77px 0px;
      }

      .container {
        max-width: 100%;

        .benefit-header {
          p.header-text {
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
          }
        }

        //Benefit
        .swiper.swiper-container-benefit {

          .swiper-button-control {
            display: none;
          }
        }
      }

    }

    //Service
    .service-content {

      .container {

        .service-list {
          margin-top: 5%;

          ul.tab-service {

            li {

              &.active {
                p {
                  color: #3BB54A;
                }

                border: none !important;
              }
            }

          }

        }

        .service-slide {
          width: 100%;

          img {
            width: 100%;
            height: 50%;

          }

          .content {
            margin: 0;

            .tittle {
              padding-top: 5%;

            }

            .description {
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              color: #4A6069;
              padding-bottom: 15%;
            }
          }

          &.active {
            display: block !important;
          }
        }
      }

    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {

    .navbar {

      .container-fluid {
        #collapsibleNavbar {
          .navbar-nav {
            .nav-item {
              .nav-link {
                padding: 0 15px;
              }
            }
          }
        }
      }
    }

    //Benefit container
    .swiper.swiper-container-benefit {
      .swiper-button-control {
        .swiper-pagination {
          display: none;
        }
      }
    }
  }

  // // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) { ... }