body {
  color: #2F4858 !important;
  font-family: "Inter" !important;
}

span {
  color: #3BB54A;
}

.navbar {
  color: #333333;
  height: 80px;
}
.navbar .container {
  height: 3.5rem;
  max-width: 1200px;
  min-width: 375px;
}
.navbar .container .row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.navbar .container .row .navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.navbar .container .row .navbar-brand .logo {
  margin-left: auto;
}
.navbar .container .row .icon-nav {
  display: none;
}
.navbar .container .row .icon-nav .navbar-toggler.icon-search {
  display: none;
}
.navbar .container #collapsibleNavbar {
  z-index: 2;
}
.navbar .container #collapsibleNavbar .navbar-nav {
  display: flex;
}
.navbar .container #collapsibleNavbar .navbar-nav .nav-item {
  list-style-type: none;
  margin-top: 1%;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-align: right;
  color: #3BB54A;
}
.navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
  color: #3BB54A !important;
}
.navbar .container #collapsibleNavbar .navbar-nav .nav-item.btnLog {
  width: 7.1875rem;
  height: 2.375rem;
  border-radius: 22px;
  border: 2px solid #3BB54A;
  background-color: white;
  color: #3BB54A;
  padding: 8px;
  margin: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  line-height: 0px;
  font-weight: bold;
}
.navbar .container #collapsibleNavbar .navbar-nav .nav-item.btnLog:hover {
  color: white;
  background-image: linear-gradient(to left, #7EC341, #3BB54A);
}

.slider-content {
  width: 100%;
  max-width: 100%;
  background-color: rgb(248, 248, 248);
}
.slider-content.container-fluid {
  padding: 0px;
}
.slider-content.container-fluid .swiper-container-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper {
  width: 100%;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide {
  width: 100%;
  flex: 0 0 auto;
  display: inline-block;
  background-color: white;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container {
  position: absolute;
  top: 20%;
  left: 18%;
  width: 100%;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay {
  width: 42.5%;
  text-align: left;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay h1 {
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  font-style: normal;
  line-height: 57px;
  /* 150% */
  margin-bottom: 50px;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay .slide-btn {
  font-size: 20px;
  width: 242px;
  height: 48px;
  line-height: 30px;
  border-radius: 36px;
  border: 2px solid #3BB54A;
  background-color: #3BB54A;
}
.slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay .slide-btn a.text-link {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 150% */
  font-family: "Inter";
}

.benefit-content {
  padding-top: 3%;
  background-color: rgb(248, 248, 248);
  border-bottom-left-radius: 100% 30%;
  border-bottom-right-radius: 100% 30%;
}
.benefit-content .container .benefit-header {
  margin-left: 5%;
  margin-right: 5%;
}
.benefit-content .container .benefit-header h1.header-text {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}
.benefit-content .container .benefit-header p.header-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.benefit-content .container .swiper.swiper-container-benefit {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 100%;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper {
  width: 100%;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 363px;
  height: 423px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #3BB54A;
  border-radius: 3%;
  background-color: white;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide .box-content {
  text-align: center;
  margin-top: 10px;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide .box-content span {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  margin-top: 10px;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide .box-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 5% 15%;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-button-prev,
.benefit-content .container .swiper.swiper-container-benefit .swiper-button-next {
  width: 44px;
  height: 44px;
  color: #3BB54A;
  transform: translateY(-50%);
  background-color: #E1F3E3;
  border: 2px solid #3BB54A;
  border-radius: 100%;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-button-prev::after,
.benefit-content .container .swiper.swiper-container-benefit .swiper-button-next::after {
  --swiper-navigation-size: none;
  text-align: center;
  width: 100%;
}
.benefit-content .container .swiper.swiper-container-benefit .swiper-pagination {
  display: none;
}

.service-content {
  margin-top: 3%;
  margin-bottom: 3%;
}
.service-content .container .service-header {
  padding-top: 20px;
  display: none;
}
.service-content .container .service-header h1 {
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.service-content .container .service-list {
  width: 100%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}
.service-content .container .service-list ul.tab-service {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}
.service-content .container .service-list ul.tab-service.row li {
  padding: 0;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service-content .container .service-list ul.tab-service.row li .tab-content .img-service {
  width: 56px;
  height: 56px;
}
.service-content .container .service-list ul.tab-service.row li .tab-content p {
  width: 100%;
  padding-top: 10px;
  font-family: "Inter";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.service-content .container .service-list ul.tab-service.row li .tab-content .icon-dropdown {
  display: none;
}
.service-content .container .service-list ul.tab-service.row li.active {
  border-bottom: 3px solid #3BB54A;
}
.service-content .container .service-list ul.tab-service.row li.active p {
  color: #3BB54A;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.service-content .container .service-slide {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.service-content .container .service-slide img {
  width: 50%;
  height: 50%;
  border: 2px solid #3BB54A;
  border-radius: 10px;
}
.service-content .container .service-slide .content {
  margin-left: 5%;
  font-family: "Inter";
  letter-spacing: 0em;
  text-align: left;
}
.service-content .container .service-slide .content .tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.service-content .container .service-slide .content .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.service-content .container .service-slide.active {
  display: flex;
}

.price-content {
  padding-top: 3%;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}
.price-content .container .price-header h1.header-text {
  margin-top: 3%;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}
.price-content .container .price-header p.header-text {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2%;
}
.price-content .container .price-main {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}
.price-content .container .price-main .price-card {
  background-color: white;
  text-align: center;
  letter-spacing: 0em;
  order: 1;
  border-radius: 8px;
  height: 525px;
}
.price-content .container .price-main .price-card .content-wapper {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.price-content .container .price-main .price-card .content-wapper .content-header {
  padding-top: 10%;
  background-color: bisque;
  border-bottom-left-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
}
.price-content .container .price-main .price-card .content-wapper .content-header h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #4F4F4F;
}
.price-content .container .price-main .price-card .content-wapper .content-header p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #AEAEAE;
}
.price-content .container .price-main .price-card .content-wapper .content-budget {
  color: #333333;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.price-content .container .price-main .price-card .content-wapper ul.content-benefit {
  list-style-type: none;
  margin: auto;
  max-width: 100%;
  padding: 0 0 5% 0;
}
.price-content .container .price-main .price-card .content-wapper ul.content-benefit li {
  padding-left: 15%;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: #4A6069;
  text-align: left;
  margin-top: 5%;
}
.price-content .container .price-main .price-card .content-wapper ul.content-benefit li img {
  margin-right: 5%;
}
.price-content .container .price-main .price-card .content-wapper button.card-button {
  width: 215px;
  height: 48px;
  border-radius: 36px;
  border: 2px solid #3BB54A;
  background-color: #3BB54A;
  position: absolute;
  bottom: 29px;
  left: 50%;
  transform: translateX(-50%);
}
.price-content .container .price-main .price-card .content-wapper button.card-button a.text-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  color: white;
}
.price-content .container .price-main .price-note {
  order: 1;
  text-align: center;
  letter-spacing: 0em;
  order: 1;
  border-radius: 8px;
  height: 525px;
}
.price-content .container .price-main .price-note .content-wapper {
  height: 100%;
}
.price-content .container .price-main .price-note .content-wapper img {
  width: 100%;
  max-width: 363px;
  max-height: 363px;
}
.price-content .container .price-main .price-note .content-wapper .content-text {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
}

.trial-content {
  position: relative;
  height: 242px;
}
.trial-content.container-fluid {
  padding: 0;
}
.trial-content.container-fluid img {
  width: 100%;
  height: 100%;
}
.trial-content.container-fluid .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 50%;
}
.trial-content.container-fluid .container .text-overlay h1 {
  margin-top: 3%;
  color: #FFF;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  /* 150% */
}
.trial-content.container-fluid .container .text-overlay .trial-btn {
  color: #FFF;
  margin: 3% 0;
  width: 215px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 2px solid #FFF;
  background: #3BB54A;
}

.app-content {
  position: relative;
  height: 475px;
}
.app-content.container-fluid {
  padding: 0;
}
.app-content.container-fluid .container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.app-content.container-fluid .container .row {
  width: 100%;
  margin: 0;
}
.app-content.container-fluid .container .row .text-overlay .content {
  margin-top: 80px;
  width: 100%;
  text-align: left;
}
.app-content.container-fluid .container .row .text-overlay .content .header {
  width: 100%;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 38px;
}
.app-content.container-fluid .container .row .text-overlay .content .description {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.app-content.container-fluid .container .row .text-overlay .download-btn {
  position: absolute;
  bottom: 60px;
  display: flex;
  gap: 16px;
}
.app-content.container-fluid .container .row .text-overlay .download-btn img {
  width: 180px;
  height: 52px;
}
.app-content.container-fluid .container .row .image {
  position: relative;
}
.app-content.container-fluid .container .row .image img {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.feedback-content {
  position: relative;
  height: 865px;
}
.feedback-content.container-fluid {
  padding: 0;
}
.feedback-content.container-fluid img {
  width: 100%;
  height: 100%;
}
.feedback-content.container-fluid .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.feedback-content.container-fluid .container img {
  width: 100%;
  height: 100%;
}
.feedback-content.container-fluid .container .feedback-header {
  margin-top: 64px;
}
.feedback-content.container-fluid .container .feedback-header h1 {
  margin-top: 0;
}
.feedback-content.container-fluid .container .feedback-header p {
  margin-top: 15px;
  margin-bottom: 63px;
}
.feedback-content.container-fluid .container .swiper {
  width: 100%;
  height: 72%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper {
  width: 100%;
  height: 549px;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 10px;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide img {
  margin-top: 38px;
  width: 160px;
  height: 160px;
  display: block;
  border-radius: 50%;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide .box-content {
  margin-top: 9px;
  width: 80%;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide .box-content span {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide .box-content p.a {
  padding-top: 4px;
  padding-bottom: 12px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: #AFAEAE;
  border-bottom: 1px dashed #3BB54A;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide .box-content img.quote {
  border-radius: unset;
  height: 25px;
  width: 29px;
  margin-top: 25px;
}
.feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide .box-content p.b {
  padding-top: 11px;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.feedback-content.container-fluid .container .swiper .swiper-button-control {
  margin-top: 8px;
}

.archivement-content {
  position: relative;
  text-align: center;
  height: 396px;
}
.archivement-content.container-fluid {
  padding: 0;
}
.archivement-content.container-fluid img {
  width: 100%;
  height: 100%;
}
.archivement-content.container-fluid .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  width: 100%;
}
.archivement-content.container-fluid .container .text-overlay h1 {
  color: #3BB54A;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 150% */
  text-transform: uppercase;
}

.subcribe-content {
  max-height: 282px;
  padding-top: 64px;
}
.subcribe-content .container .header-content {
  display: inline;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
}
.subcribe-content .container .subcription {
  margin-top: 17px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}
.subcribe-content .container .regist-btn {
  position: relative;
  margin-bottom: 65px;
}
.subcribe-content .container .regist-btn input[type=text] {
  width: 60%;
  height: 54px;
  max-width: 705px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 32px;
  font-size: 16px;
  background-color: white;
  background-image: url("./feather-icon/eva_email-fill.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.subcribe-content .container .regist-btn .btn {
  position: absolute;
  transform: translate(-100%);
  color: #FFF;
  height: 46px;
  border-radius: 36px;
  background-image: linear-gradient(to left, #7EC341, #3BB54A);
  margin: 4px 4px 4px -4px;
  padding: 12px 16px;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* 137.5% */
}

.footer-content {
  background-color: #2F4858;
  color: white;
  overflow: hidden;
  position: relative;
}
.footer-content .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  width: 100%;
}
.footer-content .container .logo-header {
  position: absolute;
  margin-left: 0;
  margin-top: 30px;
}
.footer-content .container .main {
  position: absolute;
  margin-top: 145px;
  display: flex;
}
.footer-content .container .main .content .icon {
  margin-top: 62px;
}
.footer-content .container .main .content .icon img {
  margin-right: 24px;
}
.footer-content .container .main .content .header {
  margin-bottom: 39px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
}
.footer-content .container .main .content .text-description {
  max-width: 90%;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  /* 143.75% */
}
.footer-content .container .main .content ul {
  list-style-type: none;
  padding-left: 0;
}
.footer-content .container .main .content ul .link {
  padding-bottom: 16px;
}
.footer-content .container .main .content ul .contact {
  padding-bottom: 12px;
}
.footer-content .container .main .content span {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}
.footer-content .image-logo {
  float: right;
}

.copy-right {
  height: 40px;
}
.copy-right p {
  padding-top: 8px;
  margin-bottom: 0;
}

@media (max-width: 576px) {
  .navbar {
    height: 68px;
  }
  .navbar .container .row {
    width: 50%;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .navbar .container .row .navbar-brand {
    padding-left: 3px;
  }
  .navbar .container .row .navbar-brand .logo {
    margin-left: 0;
  }
  .navbar .container .row .icon-nav {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 3px;
  }
  .navbar .container #collapsibleNavbar {
    background-color: #3BB54A;
    border: 5px solid #3BB54A;
    border-radius: 4%;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item {
    margin: 1px;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
    border-radius: 22px;
    border: 2px solid #3BB54A;
    background-color: white;
    text-align: center;
    justify-content: center;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
    color: white !important;
    background-image: linear-gradient(to left, #7EC341, #3BB54A);
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item.btnLog {
    width: 99.5%;
    height: 2.75rem;
    margin: 2px;
  }
  .slider-content {
    height: 566px;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg.sld1 {
    content: url("/vSalon/img/slide/banner_mb.png");
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg.sld2 {
    content: url("/vSalon/img/slide/banner_mb_2.png");
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg.sld3 {
    content: url("/vSalon/img/slide/banner_mb_3.png");
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container {
    left: 0;
    top: 7.5%;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay {
    width: 80%;
    min-width: 317px;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay h1 {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 0em;
    margin-bottom: 32px;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay .span-mb {
    color: #2F4858;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay .text-mb {
    display: inline;
    color: #3BB54A;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay button.slide-btn {
    width: 15.125rem;
    height: 3rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .benefit-content {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .benefit-content .container {
    max-width: 345px;
    padding: 0;
  }
  .benefit-content .container .benefit-header {
    margin-top: 10%;
  }
  .benefit-content .container .benefit-header h1.header-text {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
  }
  .benefit-content .container .benefit-header p.header-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
  }
  .benefit-content .container .swiper.swiper-container-benefit {
    padding-top: 1%;
    padding-bottom: 10%;
  }
  .benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper {
    width: 100%;
  }
  .benefit-content .container .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 424px;
  }
  .benefit-content .container .swiper.swiper-container-benefit .swiper-button-prev,
  .benefit-content .container .swiper.swiper-container-benefit .swiper-button-next {
    display: none;
  }
  .benefit-content .container .swiper.swiper-container-benefit .swiper-pagination {
    display: block;
  }
  .service-content .container {
    padding-left: 3px;
    padding-right: 3px;
  }
  .service-content .container .service-header {
    display: block;
  }
  .service-content .container .service-list {
    margin-top: 5%;
  }
  .service-content .container .service-list ul.tab-service {
    display: grid;
    padding: 0;
    margin: 0;
  }
  .service-content .container .service-list ul.tab-service.row {
    margin-left: 0;
  }
  .service-content .container .service-list ul.tab-service.row li {
    background-color: #F2F2F2;
    padding-left: 0;
    width: 345PX;
    height: 60px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  .service-content .container .service-list ul.tab-service.row li .tab-content {
    margin: 0;
    display: flex;
    width: 100%;
  }
  .service-content .container .service-list ul.tab-service.row li .tab-content img {
    margin: auto;
  }
  .service-content .container .service-list ul.tab-service.row li .tab-content .img-service {
    width: 36px;
    height: 36px;
    margin: 12px;
  }
  .service-content .container .service-list ul.tab-service.row li .tab-content p {
    margin: auto;
    padding-left: 12px;
    padding-top: 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .service-content .container .service-list ul.tab-service.row li .tab-content .icon-dropdown {
    width: 24px;
    height: 24px;
    margin: 18px;
    display: block;
  }
  .service-content .container .service-list ul.tab-service.row li.active {
    border: none !important;
  }
  .service-content .container .service-list ul.tab-service.row li.active p {
    color: #3BB54A;
  }
  .service-content .container .service-slide {
    width: 100%;
  }
  .service-content .container .service-slide img {
    width: 100%;
    height: 50%;
  }
  .service-content .container .service-slide .content {
    margin: 2%;
  }
  .service-content .container .service-slide .content .tittle {
    font-size: 18px;
    font-style: normal;
    padding-top: 5%;
  }
  .service-content .container .service-slide .content .description {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    padding-bottom: 15%;
  }
  .service-content .container .service-slide.active {
    display: block !important;
  }
  .price-content .container .price-header h1.header-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
  .price-content .container .price-header p.header-text {
    display: none;
  }
  .price-content .container .price-main {
    display: grid;
  }
  .price-content .container .price-main .price-card {
    margin-top: 10%;
    order: 1;
  }
  .price-content .container .price-main .price-card .content-wapper .content-header {
    padding-top: 5%;
  }
  .price-content .container .price-main .price-card .content-wapper .content-header p {
    margin-top: 5%;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  .price-content .container .price-main .price-card .content-wapper .content-budget {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
  }
  .price-content .container .price-main .price-card .content-wapper ul.content-benefit li {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .price-content .container .price-main .price-card .content-wapper ul.content-benefit li img {
    margin-left: 5%;
  }
  .price-content .container .price-main .price-card .content-wapper button.card-button a.text-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
  }
  .price-content .container .price-main .price-note {
    order: 2;
    height: auto;
  }
  .price-content .container .price-main .price-note img {
    display: none;
  }
  .trial-content.container-fluid .container {
    width: 100%;
  }
  .trial-content.container-fluid .container .text-overlay {
    margin-top: 39px;
  }
  .trial-content.container-fluid .container .text-overlay h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  .trial-content.container-fluid .container .text-overlay .trial-btn {
    margin-top: 25px;
    width: 189px;
    height: 48px;
  }
  .app-content {
    height: 451px;
    position: relative;
  }
  .app-content.container-fluid img {
    content: url("/vSalon/img/app/bgr_mb.png");
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 261px;
    max-width: 85%;
  }
  .app-content.container-fluid .container .row {
    display: grid;
  }
  .app-content.container-fluid .container .row .text-overlay {
    text-align: center;
    width: 100%;
  }
  .app-content.container-fluid .container .row .text-overlay .content {
    width: 100%;
    margin-top: 44px;
    text-align: center;
  }
  .app-content.container-fluid .container .row .text-overlay .content .header {
    margin-bottom: 20px;
    width: 100%;
    color: var(--2-f-4858, #2F4858);
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    /* 150% */
  }
  .app-content.container-fluid .container .row .text-overlay .content .description {
    line-height: 24px;
    font-size: 18px;
    /* 150% */
  }
  .app-content.container-fluid .container .row .text-overlay .download-btn {
    display: grid;
    gap: 12px;
  }
  .app-content.container-fluid .container .row .text-overlay .download-btn img {
    width: 124px;
    height: 36px;
  }
  .app-content.container-fluid .container .row .image img {
    height: auto;
  }
  .feedback-content.container-fluid .container .feedback-header {
    margin-top: 44px;
  }
  .feedback-content.container-fluid .container .feedback-header h1 {
    margin-top: 0;
  }
  .feedback-content.container-fluid .container .feedback-header p {
    color: #4A6069;
    margin-top: 15px;
    margin-bottom: 43px;
  }
  .feedback-content.container-fluid .container .swiper {
    height: 70%;
  }
  .feedback-content.container-fluid .container .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  .archivement-content img {
    content: url("/vSalon/img/archivement/banner_mb.png") !important;
    width: 100%;
    height: 100%;
  }
  .archivement-content .text-overlay {
    display: none;
    width: 90%;
    height: auto;
  }
  .archivement-content .text-overlay h1 {
    margin: 0;
    color: var(--Color-02, #3BB54A);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 166.667% */
    text-transform: uppercase;
  }
  .subcribe-content {
    max-height: 331px;
    margin-top: 46px;
    padding: 0;
  }
  .subcribe-content .container {
    padding: 0;
  }
  .subcribe-content .container .header-content {
    display: inline;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
  .subcribe-content .container .subcription {
    margin-top: 17px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
  }
  .subcribe-content .container .regist-btn {
    margin-bottom: 46px;
  }
  .subcribe-content .container .regist-btn input[type=text] {
    width: 100%;
    height: 54px;
    max-width: 343px;
  }
  .subcribe-content .container .regist-btn .btn {
    width: 131px;
    font-size: 14px;
  }
  .footer-content {
    height: 976px;
  }
  .footer-content .container {
    max-width: 90%;
  }
  .footer-content .container .main {
    display: grid;
  }
  .footer-content .container .main .content.order1 {
    order: 1;
  }
  .footer-content .container .main .content.order1 .icon {
    margin-top: 30px;
    margin-bottom: 36px;
  }
  .footer-content .container .main .content.order2 {
    order: 2;
  }
  .footer-content .container .main .content.icon {
    display: inline;
    margin-bottom: 36px;
    margin-top: 14px;
  }
  .footer-content .container .main .content.icon img {
    margin-right: 24px;
  }
  .footer-content .image-logo {
    display: none;
  }
}
@media (max-width: 1199px) and (min-width: 577px) {
  .navbar .container {
    padding: 0;
    max-width: 100%;
  }
  .navbar .container .row {
    width: 100%;
    margin: 0;
  }
  .navbar .container .row .navbar-brand {
    padding-left: 32px;
    padding-top: 2px;
  }
  .navbar .container .row .navbar-brand .logo {
    margin-left: 0;
  }
  .navbar .container .row .icon-nav {
    display: flex;
    justify-content: right;
    padding-right: 0;
  }
  .navbar .container .row .icon-nav .navbar-toggler.icon-search {
    display: inline;
  }
  .navbar .container #collapsibleNavbar {
    background-color: #3BB54A;
    border: 5px solid #3BB54A;
    border-radius: 4%;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item {
    margin: 1px;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
    border-radius: 22px;
    border: 2px solid #3BB54A;
    background-color: white;
    text-align: center;
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
    color: white !important;
    background-image: linear-gradient(to left, #7EC341, #3BB54A);
  }
  .navbar .container #collapsibleNavbar .navbar-nav .nav-item.btnLog {
    width: 99.5%;
    height: 2.75rem;
    margin: 2px;
  }
  .slider-content {
    height: 566px;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg.sld1 {
    content: url("/vSalon/img/slide/banner_tb.png");
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg.sld2 {
    content: url("/vSalon/img/slide/banner_tb_2.png");
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg.sld3 {
    content: url("/vSalon/img/slide/banner_tb_3.png");
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container {
    left: 0;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay {
    width: 80%;
    min-width: 317px;
    padding-left: 20px;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay .span-mb {
    color: #2F4858;
  }
  .slider-content.container-fluid .swiper-container-slide .swiper-wrapper .swiper-slide .container .text-overlay .text-mb {
    display: inline;
    color: #3BB54A;
  }
  .benefit-content {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .benefit-content.container-fluid {
    padding: 77px 0px;
  }
  .benefit-content.container-fluid .container {
    max-width: 100%;
  }
  .benefit-content.container-fluid .container .benefit-header p.header-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  .benefit-content.container-fluid .container .swiper.swiper-container-benefit .swiper-button-prev, .benefit-content.container-fluid .container .swiper.swiper-container-benefit .swiper-button-next {
    display: none;
  }
  .service-content .container .service-list {
    margin-top: 5%;
  }
  .service-content .container .service-list ul.tab-service li.active {
    border: none !important;
  }
  .service-content .container .service-list ul.tab-service li.active p {
    color: #3BB54A;
  }
  .service-content .container .service-slide {
    width: 100%;
  }
  .service-content .container .service-slide img {
    width: 100%;
    height: 50%;
  }
  .service-content .container .service-slide .content {
    margin: 0;
  }
  .service-content .container .service-slide .content .tittle {
    padding-top: 5%;
  }
  .service-content .container .service-slide .content .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #4A6069;
    padding-bottom: 15%;
  }
  .service-content .container .service-slide.active {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    padding: 0 15px;
  }
  .swiper.swiper-container-benefit .swiper-button-control .swiper-pagination {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */