body {
  color: #2F4858 !important;
}

span {
  color: #3BB54A;
}

.navbar {
  color: #333333;
}
.navbar .container-fluid {
  height: 3.5rem;
}
.navbar .container-fluid .d-flex .navbar-toggler.icon-search {
  display: none;
}
.navbar .container-fluid #collapsibleNavbar {
  z-index: 2;
}
.navbar .container-fluid #collapsibleNavbar .navbar-nav {
  display: flex;
}
.navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item {
  list-style-type: none;
  margin-top: 1%;
}
.navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
  font-family: "Inter", sans-serif, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  text-align: right;
  color: #3BB54A;
}
.navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
  font-weight: 700;
  color: #3BB54A !important;
}
.navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item.btnLog {
  width: 7.1875rem;
  height: 2.375rem;
  border-radius: 22px;
  border: 2px solid #3BB54A;
  background-color: white;
  color: #3BB54A;
  padding: 8px;
  margin: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  line-height: 0px;
  font-weight: bold;
}
.navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item.btnLog:hover {
  color: white;
  background-image: linear-gradient(to left, #7EC341, #3BB54A);
}

.slider-content {
  width: 100%;
  max-width: 100%;
  background-color: rgb(248, 248, 248);
}
.slider-content.container-fluid {
  padding: 0px;
}
.slider-content .swiper-container-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider-content .swiper-container-slide .swiper-wrapper {
  width: 100%;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide {
  width: 100%;
  flex: 0 0 auto;
  display: inline-block;
  background-color: white;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .slide-sizeimg {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay {
  width: 35%;
  height: 5rem;
  position: absolute;
  top: 30%;
  left: 34%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  z-index: 2;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn {
  position: absolute;
  top: 55%;
  left: 16.5%;
  font-size: 20px;
  width: 15.125rem;
  height: 3rem;
  line-height: 30px;
  border-radius: 22px;
  border: 2px solid #3BB54A;
  background-color: #3BB54A;
  z-index: 1;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn a.text-link {
  text-decoration: none;
  color: white;
}

.benefit-content {
  padding-top: 3%;
  background-color: rgb(248, 248, 248);
  border-bottom-left-radius: 100% 30%;
  border-bottom-right-radius: 100% 30%;
}
.benefit-content .benefit-header {
  margin-left: 5%;
  margin-right: 5%;
}
.benefit-content .benefit-header h1.header-text {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}
.benefit-content .benefit-header p.header-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.swiper.swiper-container-benefit {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 100%;
}
.swiper.swiper-container-benefit .swiper-wrapper {
  width: 60%;
}
.swiper.swiper-container-benefit .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 35%;
  height: 423px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #3BB54A;
  border-radius: 3%;
  background-color: white;
}
.swiper.swiper-container-benefit .swiper-wrapper .swiper-slide img {
  display: block;
  max-width: 100%;
  height: auto;
}
.swiper.swiper-container-benefit .swiper-wrapper .swiper-slide .box-content {
  text-align: center;
  margin-top: 10px;
}
.swiper.swiper-container-benefit .swiper-wrapper .swiper-slide .box-content span {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  margin-top: 10px;
}
.swiper.swiper-container-benefit .swiper-wrapper .swiper-slide .box-content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 5% 15%;
}
.swiper.swiper-container-benefit .swiper-button-control .swiper-button-prev,
.swiper.swiper-container-benefit .swiper-button-control .swiper-button-next {
  width: 44px;
  height: 44px;
  margin-left: 15%;
  margin-right: 15%;
  color: #3BB54A;
  transform: translateY(-50%);
  background-color: #E1F3E3;
  border: 2px solid #3BB54A;
  border-radius: 100%;
}
.swiper.swiper-container-benefit .swiper-button-control .swiper-button-prev::after,
.swiper.swiper-container-benefit .swiper-button-control .swiper-button-next::after {
  --swiper-navigation-size: none;
  text-align: center;
  width: 100%;
}

.service-content {
  margin-top: 3%;
  margin-bottom: 3%;
}
.service-content .service-list {
  width: 100%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}
.service-content .service-list ul.tab-service {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}
.service-content .service-list ul.tab-service li {
  height: 100%;
  cursor: pointer;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.service-content .service-list ul.tab-service li .img-service {
  width: 56px;
  height: 56px;
}
.service-content .service-list ul.tab-service li p {
  padding-top: 10px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
.service-content .service-list ul.tab-service li.active {
  border-bottom: 3px solid #3BB54A;
}
.service-content .service-slide {
  display: none;
  width: 65%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.service-content .service-slide img {
  width: 50%;
  height: 50%;
  border: 2px solid #3BB54A;
  border-radius: 10px;
}
.service-content .service-slide .content {
  margin-left: 5%;
  font-family: "Inter", sans-serif;
  letter-spacing: 0em;
  text-align: left;
}
.service-content .service-slide .content .tittle {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.service-content .service-slide .content .description {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.service-content .service-slide.active {
  display: flex !important;
}

.price-content {
  padding-top: 3%;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
}
.price-content .price-container {
  width: 60%;
}
.price-content .price-container .price-header h1.header-text {
  margin-top: 3%;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}
.price-content .price-container .price-header p.header-text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2%;
}
.price-content .price-container .price-content {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.price-content .price-container .price-content .price-card {
  background-color: white;
  text-align: center;
  letter-spacing: 0em;
}
.price-content .price-container .price-content .price-card .content-wapper {
  margin-left: auto;
  margin-right: auto;
}
.price-content .price-container .price-content .price-card .content-wapper .content-header {
  padding-top: 10%;
  background-color: bisque;
  border-bottom-left-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
}
.price-content .price-container .price-content .price-card .content-wapper .content-header h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #4F4F4F;
}
.price-content .price-container .price-content .price-card .content-wapper .content-header p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #AEAEAE;
}
.price-content .price-container .price-content .price-card .content-wapper .content-budget {
  color: #333333;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.price-content .price-container .price-content .price-card .content-wapper ul.content-benefit {
  list-style-type: none;
  margin: auto;
  border-bottom: 1px dashed #BDBDBD;
  width: 80%;
  height: 100%;
  padding: 0 0 10% 0;
}
.price-content .price-container .price-content .price-card .content-wapper ul.content-benefit li {
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  color: #4A6069;
  text-align: left;
  margin-top: 5%;
}
.price-content .price-container .price-content .price-card .content-wapper ul.content-benefit li img {
  margin-right: 5%;
}
.price-content .price-container .price-content .price-card button.card-button {
  margin: 10% 0;
  width: 215px;
  height: 48px;
  border-radius: 36px;
  border: 2px solid #3BB54A;
  background-color: #3BB54A;
}
.price-content .price-container .price-content .price-card button.card-button a.text-link {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  color: white;
}

@media (max-width: 576px) {
  .navbar .container-fluid #collapsibleNavbar {
    background-color: #3BB54A;
    border: 5px solid #3BB54A;
    border-radius: 4%;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item {
    margin: 1px;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
    border-radius: 22px;
    border: 2px solid #3BB54A;
    background-color: white;
    text-align: center;
    justify-content: center;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
    color: white !important;
    background-image: linear-gradient(to left, #7EC341, #3BB54A);
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item.btnLog {
    width: 99.5%;
    height: 2.75rem;
    margin: 2px;
  }
  .slider-content {
    width: 553px;
    height: 375px;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay {
    width: 85%;
    height: 40%;
    top: 25%;
    left: 45%;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay .span-mb {
    color: #2F4858;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay .text-mb {
    display: inline;
    color: #3BB54A;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn {
    top: 50%;
    left: 3%;
    width: 15.125rem;
    height: 3rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .benefit-content .benefit-header {
    margin-top: 10%;
  }
  .benefit-content .benefit-header h1.header-text {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
  }
  .benefit-content .benefit-header p.header-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
  }
  .swiper.swiper-container-benefit {
    padding-top: 1%;
    padding-bottom: 10%;
  }
  .swiper.swiper-container-benefit .swiper-wrapper {
    width: 100%;
  }
  .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide {
    width: 100%;
  }
  .swiper.swiper-container-benefit .swiper-button-control .swiper-button-prev,
  .swiper.swiper-container-benefit .swiper-button-control .swiper-button-next {
    display: none;
  }
  .service-content .service-list {
    margin-top: 5%;
  }
  .service-content .service-list ul.tab-service li.active {
    border: none !important;
  }
  .service-content .service-list ul.tab-service li.active p {
    color: #3BB54A;
  }
  .service-content .service-slide {
    width: 100%;
  }
  .service-content .service-slide img {
    width: 100%;
    height: 50%;
  }
  .service-content .service-slide .content {
    margin: 2%;
  }
  .service-content .service-slide .content .tittle {
    padding-top: 5%;
  }
  .service-content .service-slide .content .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #4A6069;
    padding-bottom: 15%;
  }
  .service-content .service-slide.active {
    display: block !important;
  }
  .price-content .price-container {
    width: 100%;
  }
  .price-content .price-container .price-header h1.header-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
  .price-content .price-container .price-header p.header-text {
    display: none;
  }
  .price-content .price-container .price-content {
    display: block;
  }
  .price-content .price-container .price-content .price-card {
    margin-top: 10%;
  }
  .price-content .price-container .price-content .price-card .content-wapper .content-header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  .price-content .price-container .price-content .price-card .content-wapper .content-budget {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
  }
  .price-content .price-container .price-content .price-card .content-wapper ul.content-benefit li {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
  .price-content .price-container .price-content .price-card .content-wapper ul.content-benefit li img {
    margin-left: 5%;
  }
  .price-content .price-container .price-content .price-card button.card-button a.text-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
  }
}
@media (max-width: 991px) and (min-width: 577px) {
  .navbar .container-fluid .navbar-brand {
    padding-left: 3%;
  }
  .navbar .container-fluid .d-flex {
    display: inline-block !important;
  }
  .navbar .container-fluid .d-flex .navbar-toggler.icon-search {
    display: inline;
  }
  .navbar .container-fluid #collapsibleNavbar {
    background-color: #3BB54A;
    border: 5px solid #3BB54A;
    border-radius: 4%;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item {
    margin: 1px;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
    border-radius: 22px;
    border: 2px solid #3BB54A;
    background-color: white;
    text-align: center;
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
    color: white !important;
    background-image: linear-gradient(to left, #7EC341, #3BB54A);
  }
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item.btnLog {
    width: 99.5%;
    height: 2.75rem;
    margin: 2px;
  }
  .slider-content {
    width: 25%;
    height: 553px;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay {
    width: 34.6875rem;
    height: 7.125rem;
    top: 30%;
    left: 40%;
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn {
    top: 50%;
    left: 3%;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
  .benefit-content {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
  .benefit-content .benefit-header p.header-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
  .swiper.swiper-container-benefit .swiper-wrapper {
    width: 90%;
  }
  .swiper.swiper-container-benefit .swiper-wrapper .swiper-slide {
    width: 43.5%;
  }
  .swiper.swiper-container-benefit .swiper-button-control {
    display: none;
  }
  .service-content .service-list {
    margin-top: 5%;
  }
  .service-content .service-list ul.tab-service li.active {
    border: none !important;
  }
  .service-content .service-list ul.tab-service li.active p {
    color: #3BB54A;
  }
  .service-content .service-slide {
    width: 100%;
  }
  .service-content .service-slide img {
    width: 100%;
    height: 50%;
  }
  .service-content .service-slide .content {
    margin: 2%;
  }
  .service-content .service-slide .content .tittle {
    padding-top: 5%;
  }
  .service-content .service-slide .content .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #4A6069;
    padding-bottom: 15%;
  }
  .service-content .service-slide.active {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .navbar .container-fluid #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    padding: 0 15px;
  }
  .swiper.swiper-container-benefit .swiper-button-control .swiper-pagination {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */