  $font-family: 'Inter';
  $background-color: rgb(248, 248, 248);

  body {
    color: #2F4858 !important;
    font-family: $font-family !important;
  }

  span {
    color: #3BB54A;
  }

  //Header 
  .navbar {
    color: #333333;
    height: 80px;

    .container {
      height: 3.5rem;
      max-width: 1200px;
      min-width: 375px;

      .row {
        width: 100%;
        display: flex; // Sử dụng display: flex để biến các phần tử con thành các phần tử linh hoạt theo chiều ngang
        flex-wrap: nowrap; // Ngăn chặn quấn dòng khi không đủ không gian
        justify-content: space-between; // Các phần tử con sẽ tự động căn cách xa nhau
        align-items: center;

        .navbar-brand {
          display: flex;
          justify-content: space-between; // Các phần tử con sẽ tự động căn cách xa nhau
          align-items: end; // Căn giữa theo chiều dọc

          .logo {
            margin-left: auto;
          }
        }

        .icon-nav {
          display: none;

          .navbar-toggler {
            &.icon-search {
              display: none;
            }
          }
        }


      }

      #collapsibleNavbar {
        z-index: 2;

        .navbar-nav {
          display: flex;

          .nav-item {
            list-style-type: none;
            margin-top: 1%;
            margin-left: 10px;
            margin-right: 10px;

            .nav-link {

              &.text-body {
                font-family: $font-family, sans-serif;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                white-space: nowrap;
                text-align: right;
                color: #3BB54A;

                &:hover {
                  color: #3BB54A !important; // Màu chữ khi hover
                }
              }

            }

            &.btnLog {
              width: 7.1875rem;
              height: 2.375rem;
              border-radius: 22px;
              border: 2px solid #3BB54A;
              background-color: white;
              color: #3BB54A;
              padding: 8px;
              margin: 6px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              white-space: nowrap;
              line-height: 0px;
              font-weight: bold;

              &:hover {
                color: white;
                background-image: linear-gradient(to left, #7EC341, #3BB54A);
              }
            }
          }
        }
      }

    }

  }

  //Slider 
  .slider-content {
    width: 100%;
    max-width: 100%;
    background-color: rgb(248, 248, 248);

    &.container-fluid {
      padding: 0px;

      .swiper-container-slide {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .swiper-wrapper {
          width: 100%;

          .swiper-slide {
            width: 100%;
            flex: 0 0 auto;
            display: inline-block;
            background-color: white;

            .slide-sizeimg {
              width: 100%; // Hình ảnh chiếm toàn bộ width của slide
              height: 100%;
              position: relative;
            }

            .container {
              position: absolute;
              top: 20%;
              left: 18%;
              width: 100%;

              .text-overlay {
                width: 42.5%;
                text-align: left;

                h1 {
                  font-size: 38px;
                  font-weight: 700;
                  text-align: left;
                  font-style: normal;
                  line-height: 57px;
                  /* 150% */
                  margin-bottom: 50px;
                }

                .slide-btn {
                  font-size: 20px;
                  width: 242px;
                  height: 48px;
                  line-height: 30px;
                  border-radius: 36px;
                  border: 2px solid #3BB54A;
                  background-color: #3BB54A;

                  a.text-link {
                    text-decoration: none;
                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 30px;
                    /* 150% */
                    font-family: $font-family;
                  }
                }
              }
            }

          }
        }
      }
    }


  }

  //Benefit 
  .benefit-content {
    padding-top: 3%;
    background-color: rgb(248, 248, 248);
    border-bottom-left-radius: 100% 30%;
    border-bottom-right-radius: 100% 30%;

    .container {

      .benefit-header {
        margin-left: 5%;
        margin-right: 5%;

        h1.header-text {
          font-size: 36px;
          line-height: 43px;
          font-weight: 700;

        }

        p.header-text {
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;
        }
      }

      .swiper.swiper-container-benefit {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        height: 100%;

        .swiper-wrapper {
          width: 100%;

          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 363px;
            height: 423px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 3px solid #3BB54A;
            border-radius: 3%;
            background-color: white;

            img {
              display: block;
              max-width: 100%; // Đảm bảo ảnh không vượt quá chiều rộng của slide
              height: auto; // Giữ tỉ lệ khung hình

            }

            .box-content {
              text-align: center; // Căn giữa nội dung trong box-content
              margin-top: 10px; // Ví dụ: thêm margin top là 10px giữa img và box-content

              span {
                font-size: 20px;
                font-weight: 700;
                line-height: 24.2px;
                margin-top: 10px;
              }

              p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                padding: 5% 15%;
              }
            }

          }
        }

        .swiper-button-prev,
        .swiper-button-next {

          width: 44px;
          height: 44px;
          color: #3BB54A;
          transform: translateY(-50%);
          background-color: #E1F3E3;
          border: 2px solid #3BB54A;
          border-radius: 100%;

          &::after {
            --swiper-navigation-size: none;
            text-align: center;
            width: 100%;
          }
        }

        .swiper-pagination {
          display: none;
        }

      }
    }

  }

  //Service
  .service-content {
    margin-top: 3%;
    margin-bottom: 3%;

    .container {

      .service-header {
        padding-top: 20px;
        display: none;

        h1 {
          text-align: center;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

      }

      .service-list {
        width: 100%;
        margin-bottom: 3%;
        display: flex;
        justify-content: center;

        ul.tab-service {
          list-style-type: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 0;

          &.row {

            .tab {
              padding: 0;
              height: 100%;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center; // Căn giữa theo chiều ngang
              text-align: center; // Căn giữa nội dung text

              .tab-content {

                .img-service {
                  width: 56px;
                  height: 56px;
                }

                p {
                  width: 100%;
                  margin-bottom: 12px;
                  padding-top: 10px;
                  font-family: $font-family;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }

                .icon-dropdown {
                  display: none;
                }

                .line-border {
                  display: none;
                }
              }


              &.active {
                .tab-content {
                  .line-border {
                    margin: auto;
                    display: grid;
                    width: 89px;
                    height: 3px;
                    background-color: #3BB54A;
                  }

                  p {
                    color: #3BB54A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                  }
                }

              }
            }

            .service-slide-mobile {
              display: none;
              &.active{
                display: none;
              }
            }

            .line-border-right {
              width: 1px;
              height: 40%;
              background-color: #E0E0E0;
              padding: 0;
            }
          }
        }
      }

      .service-slide {
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;

        img {
          width: 50%;
          height: 50%;
          border: 2px solid #3BB54A;
          border-radius: 10px;

        }

        .content {
          margin-left: 5%;
          font-family: $font-family;
          letter-spacing: 0em;
          text-align: left;

          .tittle {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;

          }

          .description {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;

          }
        }

        &.active {
          display: flex;
        }
      }
    }
  }

  //Price
  .price-content {
    padding-top: 3%;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;

    .container {

      .price-header {

        h1.header-text {
          margin-top: 3%;
          font-size: 28px;
          font-weight: 700;
          line-height: 34px;

        }

        p.header-text {
          font-family: $font-family;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          margin-top: 2%;
        }
      }

      .price-main {
        display: flex;
        justify-content: center;
        margin: 5% 0;

        .price-card {
          background-color: white;
          text-align: center;
          letter-spacing: 0em;
          order: 1;
          border-radius: 8px;
          height: 525px;


          .content-wapper {
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            .content-header {
              padding-top: 10%;
              background-color: bisque;
              border-bottom-left-radius: 100% 50%;
              border-bottom-right-radius: 100% 50%;

              h4 {
                font-size: 28px;
                font-weight: 700;
                line-height: 34px;
                color: #4F4F4F;


              }

              p {
                margin-left: 10%;
                margin-right: 10%;
                margin-top: 10%;
                font-size: 15px;
                font-weight: 400;
                line-height: 18px;
                color: #AEAEAE;

              }
            }

            .content-budget {
              color: #333333;
              font-size: 36px;
              font-weight: 600;
              line-height: 44px;
            }

            ul.content-benefit {
              list-style-type: none;
              margin: auto;
              max-width: 100%;
              padding: 0 0 5% 0;

              li {
                padding-left: 15%;
                font-size: 15px;
                font-weight: 500;
                line-height: 24px;
                color: #4A6069;
                text-align: left;
                margin-top: 5%;

                img {
                  margin-right: 5%;
                }
              }
            }

            button.card-button {
              width: 215px;
              height: 48px;
              border-radius: 36px;
              border: 2px solid #3BB54A;
              background-color: #3BB54A;
              position: absolute;
              bottom: 29px;
              left: 50%;
              transform: translateX(-50%);

              a.text-link {
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                text-decoration: none;
                color: white;
              }
            }
          }

        }

        .price-note {
          order: 1;
          text-align: center;
          letter-spacing: 0em;
          order: 1;
          border-radius: 8px;
          height: 525px;

          .content-wapper {
            height: 100%;

            img {
              width: 100%;
              max-width: 363px;
              max-height: 363px;
            }

            .content-text {
              margin-top: 5%;
              padding-left: 5%;
              padding-right: 5%;
              text-align: left;
            }
          }
        }
      }
    }

  }

  //Trial
  .trial-content {
    position: relative;
    height: 242px;

    &.container-fluid {
      padding: 0;

      img {
        width: 100%;
        height: 100%;
      }

      .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        width: 50%;

        .text-overlay {

          h1 {
            margin-top: 3%;
            color: #FFF;
            text-align: center;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            /* 150% */
          }

          .trial-btn {
            color: #FFF;
            margin: 3% 0;
            width: 215px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 36px;
            border: 2px solid #FFF;
            background: #3BB54A;
          }
        }
      }
    }


  }

  //App
  .app-content {
    position: relative;
    height: 475px;

    &.container-fluid {
      padding: 0;

      .container {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        width: 100%;

        .row {
          width: 100%;
          margin: 0;

          .text-overlay {

            .content {
              margin-top: 80px;
              width: 100%;
              text-align: left;

              .header {
                width: 100%;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }

              .line-border {
                display: block;
                height: 3px;
                width: 67px;
                background-color: #3BB54A;
                margin-top: 10px;
                margin-bottom: 25px;
              }

              .description {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

              }
            }

            .download-btn {
              position: absolute;
              bottom: 60px;
              display: flex;
              gap: 16px; // Khoảng cách giữa các ảnh

              img {
                width: 180px;
                height: 52px;
              }
            }
          }

          .image {
            position: relative;

            img {
              width: 100%;
              height: 100%;
              position: absolute;
              bottom: 0;
              right: 0;
            }

          }
        }

      }
    }




  }

  //Feedback
  .feedback-content {
    position: relative;
    height: 865px;

    &.container-fluid {
      padding: 0;

      img {
        width: 100%;
        height: 100%;
      }

      .container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }

        .feedback-header {
          margin-top: 64px;

          h1 {
            margin-top: 0;
          }

          p {
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0em;
            color: #4A6069;
          }

          .line-border {
            display: inline-block;
            height: 3px;
            width: 128px;
            background-color: #3BB54A;
            margin-top: 12px;
            margin-bottom: 48px;
          }
        }

        .swiper {
          width: 100%;
          height: 72%;
          padding-bottom: 1%;

          .swiper-wrapper {
            width: 100%;
            height: 549px;

            .swiper-slide {
              width: 33%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              background-color: #FFF;
              border: 1px solid #FFF;
              border-radius: 10px;

              img {
                margin-top: 38px;
                width: 160px;
                height: 160px;
                display: block;
                border-radius: 50%;
              }

              .box-content {
                margin-top: 9px;
                width: 80%;

                span {
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 23px;
                  letter-spacing: 0em;
                  text-align: center;

                }

                p.a {
                  padding-top: 4px;
                  padding-bottom: 12px;
                  margin: 0;
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 23px;
                  letter-spacing: 0em;
                  text-align: center;
                  color: #AFAEAE;
                  border-bottom: 1px dashed #3BB54A;

                }

                img.quote {
                  border-radius: unset;
                  height: 25px;
                  width: 29px;
                  margin-top: 25px;
                }

                p.b {
                  padding-top: 11px;
                  padding-bottom: 40px;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 23px;
                  letter-spacing: 0em;
                  text-align: left;
                }
              }


            }
          }

          .swiper-button-control {
            margin-top: 8px;

          }
        }
      }
    }

  }

  //Archivement
  .archivement-content {
    position: relative;
    text-align: center;
    height: 396px;

    &.container-fluid {
      padding: 0;

      img {
        width: 100%;
        height: 100%;
      }

      .container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
        text-align: center;
        width: 100%;

        .banner_mb {
          display: none;
        }

        .text-overlay {


          h1 {
            color: #3BB54A;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            /* 150% */
            text-transform: uppercase;
          }
        }
      }

    }


  }

  //Subcriber mail
  .subcribe-content {

    padding-top: 64px;

    .container {

      .header-content {
        display: inline;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0em;
        text-align: center;
      }

      .subcription {
        margin-top: 17px;
        margin-bottom: 25px;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        /* 150% */
      }

      .regist-btn {
        position: relative;
        margin-bottom: 65px;

        input[type=text] {
          width: 100%;
          max-width: 705px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 32px;
          font-size: 16px;
          background-color: white;
          background-image: url('/vSalon/feather-icon/eva_email-fill.png');
          background-position: 10px 10px;
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
        }

        .btn {
          position: absolute;
          transform: translate(-100%);
          color: #FFF;
          width: 150px;
          border-radius: 36px;
          background-image: linear-gradient(to left, #7EC341, #3BB54A);
          margin: 3px -3px;
          padding: 10px;
          align-items: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          /* 137.5% */
        }
      }
    }
  }

  //footer
  .footer-content {
    background-color: #2F4858;
    color: white;
    overflow: hidden;
    position: relative;

    .container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: left;
      width: 100%;

      .logo-header {
        position: absolute;
        margin-left: 0;
        margin-top: 30px;
      }

      .main {
        position: absolute;
        margin-top: 145px;
        display: flex;

        .content {

          .icon {
            margin-top: 62px;

            img {
              margin-right: 24px;
            }
          }

          .header {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 23px;
          }

          .line-border {
            display: block;
            height: 3px;
            width: 36px;
            background-color: #3BB54A;
            margin-top: 12px;
            margin-bottom: 24px;
          }

          .text-description {
            max-width: 90%;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 23px;
            /* 143.75% */
          }

          ul {
            list-style-type: none;
            padding-left: 0;

            .link {
              padding-bottom: 16px;
            }

            .contact {
              padding-bottom: 12px;
            }
          }

          span {
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
          }
        }
      }

    }

    .image-logo {
      float: right;
    }
  }

  //copyright
  .copy-right {
    height: 40px;

    p {
      padding-top: 8px;
      margin-bottom: 0;
    }
  }

  //RESPONSIVE

  // Small devices (screen < 576px)
  @media (max-width: 576px) {

    //Header
    .navbar {
      height: 68px;

      .container {

        .row {
          width: 50%;
          height: 100%;
          margin-left: 0;
          margin-right: 0;

          .navbar-brand {
            padding-left: 3px;

            .logo {
              margin-left: 0;
            }
          }

          .icon-nav {
            display: flex;
            align-items: center;
            justify-content: end;
            padding-right: 3px;
          }

        }

        #collapsibleNavbar {
          background-color: #3BB54A;
          border: 5px solid #3BB54A;
          border-radius: 4%;

          .navbar-nav {

            .nav-item {
              margin: 1px;

              .nav-link {
                text-decoration: none;

                &.text-body {
                  border-radius: 22px;
                  border: 2px solid #3BB54A;
                  background-color: white;
                  text-align: center;
                  justify-content: center;

                  &:hover {
                    color: white !important;
                    background-image: linear-gradient(to left, #7EC341, #3BB54A);
                  }
                }
              }

              &.btnLog {
                width: 99.5%;
                height: 2.75rem;
                margin: 2px;
              }
            }
          }
        }

      }
    }

    //Slider
    .slider-content {
      height: 566px;

      &.container-fluid {
        .swiper-container-slide {
          .swiper-wrapper {
            .swiper-slide {
              .slide-sizeimg {
                &.sld1 {
                  content: url('/vSalon/img/slide/banner_mb.png');
                }

                &.sld2 {
                  content: url('/vSalon/img/slide/banner_mb_2.png');
                }

                &.sld3 {
                  content: url('/vSalon/img/slide/banner_mb_3.png');
                }

              }

              .container {
                left: 0;
                top: 7.5%;

                .text-overlay {
                  width: 80%;
                  min-width: 317px;

                  h1 {
                    font-size: 28px;
                    line-height: 42px;
                    letter-spacing: 0em;
                    margin-bottom: 32px;
                  }

                  .span-mb {
                    color: #2F4858;
                  }

                  .text-mb {
                    display: inline;
                    color: #3BB54A;
                  }

                  button.slide-btn {
                    width: 15.125rem;
                    height: 3rem;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                  }
                }
              }

            }
          }
        }
      }

    }

    //Benefit
    .benefit-content {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;

      .container {
        max-width: 345px;
        padding: 0;

        .benefit-header {
          margin-top: 10%;

          h1.header-text {
            font-size: 28px;
            line-height: 34px;
            font-weight: 700;

          }

          p.header-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
          }
        }

        //Benefit container
        .swiper.swiper-container-benefit {

          padding-top: 1%;
          padding-bottom: 10%;

          .swiper-wrapper {
            width: 100%;

            .swiper-slide {
              width: 100%;
              height: 424px;

            }
          }

          .swiper-button-prev,
          .swiper-button-next {
            display: none;
          }

          .swiper-pagination {
            display: block;
          }
        }
      }

    }

    //Service
    .service-content {
      .container {
        padding-left: 3px;
        padding-right: 3px;

        .service-header {
          display: block;
        }

        .service-list {
          margin-top: 5%;

          ul.tab-service {
            display: grid;
            padding: 0; // Loại bỏ padding mặc định của thẻ ul
            margin: 0; // Loại bỏ margin mặc định của thẻ ul
            width: 100%;

            &.row {
              margin-left: 0;

              .tab {
                background-color: #F2F2F2;
                padding-left: 0;
                width: 100%;
                height: 60px;
                text-align: left;
                border-radius: 8px;
                margin-bottom: 16px;

                .tab-content {
                  margin: 0;
                  display: flex;
                  width: 100%;

                  img {
                    margin: auto;
                  }

                  .img-service {
                    width: 36px;
                    height: 36px;
                    margin: 12px;
                  }

                  p {
                    margin: auto;
                    padding-left: 12px;
                    padding-top: 0px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                  }

                  .icon-dropdown {
                    width: 24px;
                    height: 24px;
                    margin: 18px;
                    display: block;
                  }

                }

                &.active {
                  .tab-content {
                    p {
                      color: #333333;
                    }

                    .line-border {
                      display: none;
                    }
                  }



                }
              }

              .service-slide-mobile {
                display: none;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
                justify-content: center;
                align-items: center;

                img {
                  width: 100%;
                  height: 50%;
                  border: 2px solid #3BB54A;
                  border-radius: 10px;
                  margin-bottom: 20px;
                }

                .content {
                  margin-left: 2%;
                  font-family: $font-family;
                  letter-spacing: 0em;
                  text-align: left;

                  .tittle {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;

                  }

                  .description {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;

                  }
                }

                &.active {
                  display: block;
                }
              }

              .line-border-right {
                display: none;
              }
            }
          }
        }
        .service-slide {
          display: none !important;
        }
      }
    }

    //Price
    .price-content {

      .container {

        .price-header {

          h1.header-text {
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;

          }

          p.header-text {
            display: none;
          }
        }

        .price-main {
          display: grid;

          .price-card {
            margin-top: 10%;
            order: 1;

            .content-wapper {

              .content-header {
                padding-top: 5%;

                p {
                  margin-top: 5%;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;

                }
              }

              .content-budget {
                font-size: 32px;
                font-weight: 600;
                line-height: 39px;
              }

              ul.content-benefit {


                li {
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 24px;

                  img {
                    margin-left: 5%;
                  }
                }
              }

              button.card-button {

                a.text-link {
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 30px;

                }
              }
            }



          }

          .price-note {
            order: 2;
            height: auto;

            img {
              display: none;
            }
          }
        }


      }

    }

    //Trial
    .trial-content {
      &.container-fluid {
        .container {
          width: 100%;

          .text-overlay {
            margin-top: 39px;

            h1 {
              margin: 0;
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: center;
            }

            .trial-btn {
              margin-top: 25px;
              width: 189px;
              height: 48px;
            }
          }
        }
      }

    }

    //App
    .app-content {
      height: 451px;
      position: relative;

      &.container-fluid {
        img {
          content: url('/vSalon/img/app/bgr_mb.png');
          position: absolute;
          bottom: 0;
          right: 0;
          max-height: 261px;
          max-width: 85%;
        }

        .container {
          .row {
            display: grid;

            .text-overlay {

              text-align: center;
              width: 100%;

              .content {
                width: 100%;
                margin-top: 44px;
                text-align: center;

                .header {

                  margin-bottom: 20px;
                  width: 100%;
                  color: var(--2-f-4858, #2F4858);
                  text-align: center;
                  font-size: 28px;
                  font-weight: 700;
                  line-height: 42px;
                  /* 150% */
                }

                .description {
                  line-height: 24px;
                  font-size: 18px;
                  /* 150% */

                }

                .line-border{
                  display: none;
                }
              }

              .download-btn {
                display: grid;
                gap: 12px; // Khoảng cách giữa các ảnh

                img {
                  width: 124px;
                  height: 36px;
                }
              }
            }

            .image {
              img {
                height: auto;
              }
            }
          }

        }
      }


    }

    //Feedback
    .feedback-content {
      &.container-fluid {
        .container {

          .feedback-header {
            margin-top: 44px;

            h1 {
              margin-top: 0;
            }

            p {
              color: #4A6069;
              margin-top: 4px;
            }

            .line-border {
              margin-bottom: 28px;
            }
          }

          .swiper {
            height: 70%;

            .swiper-wrapper {
              .swiper-slide {
                width: 100%;
              }
            }
          }
        }
      }

    }

    //Archivement
    .archivement-content {
      &.container-fluid {
        img {
          content: url('/vSalon/img/archivement/bgr_mb.png') !important;
          width: 100%;
          height: 100%;
        }

        .container {
          .banner_mb {
            display: contents;

            img {
              content: url('/vSalon/img/archivement/banner_mb.png') !important;
              width: 100%;
              height: 100%;
            }
          }

          .text-overlay {
            width: 90%;
            height: auto;

            h1 {
              margin: 0;
              color: var(--Color-02, #3BB54A);
              text-align: center;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 30px;
              /* 166.667% */
              text-transform: uppercase;
            }
          }
        }
      }

    }

    //Subcriber mail
    .subcribe-content {
      max-height: 331px;
      margin-top: 46px;
      padding: 0;

      .container {
        padding: 0;

        .header-content {
          display: inline;
          text-align: center;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: 42px;
        }

        .subcription {
          margin-top: 17px;
          margin-bottom: 25px;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          /* 171.429% */
        }

        .regist-btn {
          margin-bottom: 46px;

          input[type=text] {
            width: 100%;
            height: 54px;
            max-width: 343px;
          }

          .btn {
            width: 131px;
            font-size: 14px;
          }
        }
      }
    }

    //footer
    .footer-content {
      height: 976px;

      .container {
        max-width: 90%;

        .main {

          display: grid;

          .content {
            &.order1 {
              order: 1;

              .icon {
                margin-top: 30px;
                margin-bottom: 36px;
              }

              ul.row {
                margin-bottom: 36px;
              }

            }

            &.order2 {
              order: 2;
            }

            &.icon {
              display: inline;
              margin-bottom: 36px;
              margin-top: 14px;

              img {
                margin-right: 24px;
              }
            }
          }

        }
      }

      .image-logo {
        display: none;
      }


    }

  }

  // Medium devices (577px < screen < 991px)
  @media (max-width: 1199px) and (min-width: 577px) {

    //Header
    .navbar {

      .container {
        padding: 0;
        max-width: 100%;

        .row {
          width: 100%;
          margin: 0;

          .navbar-brand {
            padding-left: 32px;
            padding-top: 2px;

            .logo {
              margin-left: 0;
            }
          }

          .icon-nav {
            display: flex;
            justify-content: right;
            padding-right: 0;

            .navbar-toggler {
              &.icon-search {
                display: inline;
              }
            }
          }
        }

        #collapsibleNavbar {
          background-color: #3BB54A;
          border: 5px solid #3BB54A;
          border-radius: 4%;

          .navbar-nav {
            .nav-item {
              margin: 1px;

              .nav-link {
                text-decoration: none;

                &.text-body {
                  border-radius: 22px;
                  border: 2px solid #3BB54A;
                  background-color: white;
                  text-align: center;

                  &:hover {
                    color: white !important;
                    background-image: linear-gradient(to left, #7EC341, #3BB54A);
                  }
                }
              }

              &.btnLog {
                width: 99.5%;
                height: 2.75rem;
                margin: 2px;
              }
            }
          }
        }

      }
    }

    //Slider
    .slider-content {
      height: 566px;

      &.container-fluid {
        .swiper-container-slide {
          .swiper-wrapper {
            .swiper-slide {
              .slide-sizeimg {
                &.sld1 {
                  content: url('/vSalon/img/slide/banner_tb.png');
                }

                &.sld2 {
                  content: url('/vSalon/img/slide/banner_tb_2.png');
                }

                &.sld3 {
                  content: url('/vSalon/img/slide/banner_tb_3.png');
                }

              }

              .container {
                left: 0;

                .text-overlay {
                  width: 80%;
                  min-width: 317px;
                  padding-left: 20px;

                  h1 {
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 57px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 50px;
                  }

                  .span-mb {
                    color: #2F4858;
                  }

                  .text-mb {
                    display: inline;
                    color: #3BB54A;
                  }
                }
              }

            }
          }
        }
      }

    }

    //Benefit
    .benefit-content {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;

      &.container-fluid {
        padding: 77px 0px;

        .container {
          max-width: 100%;

          .benefit-header {
            p.header-text {
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
            }
          }

          .swiper {
            &.swiper-container-benefit {

              .swiper-button-prev,
              .swiper-button-next {
                display: none;
              }
            }
          }

        }
      }



    }

    //Service
    .service-content {

      .container {

        .service-list {
          margin-top: 5%;

          ul.tab-service {

            li {

              &.active {
                p {
                  color: #3BB54A;
                }

                border: none !important;
              }
            }

          }

        }

        .service-slide {
          width: 100%;

          img {
            width: 100%;
            height: 50%;

          }

          .content {
            margin: 0;

            .tittle {
              padding-top: 5%;

            }

            .description {
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              color: #4A6069;
              padding-bottom: 15%;
            }
          }

          &.active {
            display: block !important;
          }
        }
      }

    }

    .trial-content {
      &.container-fluid {
        .container {
          width: 100%;

          .text-overlay {
            margin-top: 39px;

            h1 {
              margin: 0;
              font-size: 20px;
              font-weight: 700;
              line-height: 30px;
              letter-spacing: 0em;
              text-align: center;
            }

            .trial-btn {
              margin-top: 25px;
              width: 189px;
              height: 48px;
            }
          }
        }
      }

    }

    //App
    .app-content {

      &.container-fluid {
        .container {
          .row {

            .text-overlay {


              .download-btn {

                img {
                  width: 150px;
                  height: 48px;
                }
              }
            }

            .image {
              img {
                height: auto;
              }
            }
          }

        }
      }
    }

    //Feedback
    .feedback-content {
      &.container-fluid {
        .container {

          .feedback-header {
            margin-top: 44px;

            h1 {
              margin-top: 0;
            }

            p {
              color: #4A6069;
              margin-top: 15px;
              margin-bottom: 43px;
            }
          }

          .swiper {
            height: 70%;

            .swiper-wrapper {
              .swiper-slide {
                width: 100%;
              }
            }
          }
        }
      }

    }

  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 1200px) {

    .navbar {

      .container-fluid {
        #collapsibleNavbar {
          .navbar-nav {
            .nav-item {
              .nav-link {
                padding: 0 15px;
              }
            }
          }
        }
      }
    }

    //Benefit container
    .swiper.swiper-container-benefit {
      .swiper-button-control {
        .swiper-pagination {
          display: none;
        }
      }
    }
  }

  // // Extra large devices (large desktops, 1200px and up)
  // @media (min-width: 1200px) { ... }