@charset "UTF-8";
body {
  color: #2F4858 !important;
}

.navbar {
  color: #333333;
}
.navbar .container-fluid {
  height: 3.5rem;
}
.navbar .container-fluid .d-flex .navbar-toggler.icon-search {
  display: none;
}

#collapsibleNavbar {
  z-index: 2;
}
#collapsibleNavbar .navbar-nav {
  display: flex;
}
#collapsibleNavbar .navbar-nav .nav-item {
  list-style-type: none;
}
#collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  text-align: right;
  color: #3BB54A;
}
#collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
  font-weight: 700;
  color: #3BB54A !important;
}
#collapsibleNavbar .navbar-nav .nav-item.btnLog {
  width: 7.1875rem;
  height: 2.375rem;
  border-radius: 22px;
  border: 2px solid #3BB54A;
  background-color: white;
  color: #3BB54A;
  padding: 8px;
  margin: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  line-height: 0px;
  font-weight: bold;
}
#collapsibleNavbar .navbar-nav .nav-item.btnLog:hover {
  color: white;
  background-image: linear-gradient(to left, #7EC341, #3BB54A);
}

.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  display: inline-block;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay {
  width: 35rem;
  height: 5rem;
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  z-index: 2;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay span {
  color: #3BB54A;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn {
  position: absolute;
  top: 55%;
  left: 20%;
  font-size: 20px;
  width: 15.125rem;
  height: 3rem;
  line-height: 30px;
  border-radius: 22px;
  border: 2px solid #3BB54A;
  background-color: #3BB54A;
  z-index: 1;
}
.slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn a.text-link {
  text-decoration: none;
  color: white;
}

.benefit-content {
  margin-top: 3rem;
}
.benefit-content .benefit-header h1.header-text {
  font-size: 36px;
  line-height: 43px;
  font-weight: 700;
}
.benefit-content .benefit-header h1.header-text span {
  color: #3BB54A;
}
.benefit-content .benefit-header p.header-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.benefit-content .swiper-container-benefit {
  width: 25%;
}
.benefit-content .swiper-container-benefit .swiper-wrapper .swiper-slide {
  width: 100%;
  flex: 0 0 auto;
}
.benefit-content .swiper-container-benefit .swiper-wrapper .content-section {
  border: 2px solid #3BB54A;
  width: 363px;
  height: 423.67px;
  position: relative;
  text-align: center;
}
.benefit-content .swiper-container-benefit .swiper-wrapper .content-section .slide-sizeimg {
  max-width: 100%;
  height: auto;
}
.benefit-content .swiper-container-benefit .swiper-wrapper .content-section .text-overlay {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  position: absolute;
  bottom: 0;
  /* Đặt ở dưới */
  left: 50%;
  /* Dịch chuyển về giữa */
  transform: translateX(-50%);
  /* Đặt ở giữa theo chiều ngang */
  text-align: center;
  /* Căn giữa nếu muốn */
}
.benefit-content .swiper-container-benefit .swiper-wrapper .content-section .text-overlay span {
  color: green;
}

@media (max-width: 576px) {
  #collapsibleNavbar {
    background-color: white;
  }
  #collapsibleNavbar .navbar-nav .nav-item {
    margin: 1px;
  }
  #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
  }
  #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
    border-radius: 22px;
    border: 2px solid #3BB54A;
    background-color: white;
    text-align: center;
  }
  #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
    color: white !important;
    background-image: linear-gradient(to left, #7EC341, #3BB54A);
  }
  #collapsibleNavbar .navbar-nav .nav-item.btnLog {
    width: 100%;
    height: 2.375rem;
    margin: 2px;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide {
    width: 553px;
    height: 375px;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay {
    width: 19.815rem;
    height: 7.875rem;
    top: 25%;
    left: 45%;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn {
    top: 50%;
    left: 3%;
    width: 15.125rem;
    height: 3rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
}
@media (max-width: 991px) and (min-width: 577px) {
  #collapsibleNavbar {
    background-color: white;
  }
  #collapsibleNavbar .navbar-nav .nav-item {
    margin: 1px;
  }
  #collapsibleNavbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
  }
  #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body {
    border-radius: 22px;
    border: 2px solid #3BB54A;
    background-color: white;
    text-align: center;
  }
  #collapsibleNavbar .navbar-nav .nav-item .nav-link.text-body:hover {
    color: white !important;
    background-image: linear-gradient(to left, #7EC341, #3BB54A);
  }
  #collapsibleNavbar .navbar-nav .nav-item.btnLog {
    width: 100%;
    height: 2.375rem;
    margin: 2px;
  }
  .navbar .container-fluid .d-flex .navbar-toggler.icon-search {
    display: inline;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide .text-overlay {
    width: 34.6875rem;
    height: 7.125rem;
    top: 30%;
    left: 40%;
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
  }
  .slider-content .swiper-container-slide .swiper-wrapper .swiper-slide button.slide-btn {
    top: 50%;
    left: 3%;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }
}/*# sourceMappingURL=styles.css.map */