$font-family: "Inter";

body {
  color: #2F4858 !important;
}

//Header container
.navbar {
  color: #333333;

  .container-fluid {
    height: 3.5rem;

    .d-flex {
      .navbar-toggler {
        &.icon-search {
          display: none;
        }
      }
    }

  }

}

//navbar
#collapsibleNavbar {
  z-index: 2;

  .navbar-nav {
    display: flex;
    .nav-item {
      list-style-type: none;

      .nav-link {
        &.text-body {
          font-family: $font-family, sans-serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          white-space: nowrap;
          text-align: right;
          color: #3BB54A;

          &:hover {
            font-weight: 700;
            color: #3BB54A !important; // Màu chữ khi hover
          }
        }
        
      }&.btnLog {
          width: 7.1875rem;
          height: 2.375rem;
          border-radius: 22px;
          border: 2px solid #3BB54A;
          background-color: white;
          color: #3BB54A;
          padding: 8px;
          margin: 6px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          white-space: nowrap;
          line-height: 0px;
          font-weight: bold;
    
          &:hover {
            color: white;
            background-image: linear-gradient(to left, #7EC341, #3BB54A);
          }
        }
    }
  }
}

//Slider container
.slider-content {
  .swiper-container-slide {
    .swiper-wrapper {
      .swiper-slide {
        width: 100%; // Đảm bảo mỗi thẻ swiper-slide chiếm toàn bộ chiều rộng của parent
        flex: 0 0 auto; // Chặn co giãn và không cho phép thẻ co lại
        position: relative;
        display: inline-block;

        .text-overlay {
          width: 35rem;
          height: 5rem;
          position: absolute;
          top: 30%;
          left: 35%;
          transform: translate(-50%, -50%);
          font-size: 38px;
          font-weight: 700;
          text-align: left;
          z-index: 2;

          span {
            color: #3BB54A;
          }
        }

        button.slide-btn {
          position: absolute;
          top: 55%;
          left: 20%;
          font-size: 20px;
          width: 15.125rem;
          height: 3rem;
          line-height: 30px;
          border-radius: 22px;
          border: 2px solid #3BB54A;
          background-color: #3BB54A;
          z-index: 1;

          a.text-link {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

//Benefit container
.benefit-content {
  margin-top: 3rem;
  .benefit-header {
    h1.header-text {
      font-size: 36px;
      line-height: 43px;
      font-weight: 700;
      span {
        color: #3BB54A;
      }
    }
    p.header-text{
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }
  }

  .swiper-container-benefit {
    width: 25%;
    
    .swiper-wrapper {
      .swiper-slide {
        width: 100%; // Đảm bảo mỗi thẻ swiper-slide chiếm toàn bộ chiều rộng của parent
        flex: 0 0 auto; // Chặn co giãn và không cho phép thẻ co lại
      }

      .content-section {
        border: 2px solid #3BB54A;
        width: 363px;
        height: 423.67px;
        position: relative;
        text-align: center;

        .slide-sizeimg {
          max-width: 100%; // Đảm bảo hình ảnh không vượt quá kích thước của parent
          height: auto; // Đảm bảo tỷ lệ chiều cao được duy trì
        }

        .text-overlay {
          font-size: 20px;
          font-weight: 700;
          line-height: 24.2px;
          position: absolute;
          bottom: 0;
          /* Đặt ở dưới */
          left: 50%;
          /* Dịch chuyển về giữa */
          transform: translateX(-50%);
          /* Đặt ở giữa theo chiều ngang */
          text-align: center;

          /* Căn giữa nếu muốn */
          span {
            color: green; // Màu xanh
          }
        }
      }
    }
  }
}


//RESPONSIVE

// Small devices (screen < 576px)
@media (max-width: 576px) {

  #collapsibleNavbar {
    background-color: white;

    .navbar-nav {
      .nav-item {
        margin: 1px;

        .nav-link {
          text-decoration: none;

          &.text-body {
            border-radius: 22px;
            border: 2px solid #3BB54A;
            background-color: white;
            text-align: center;

            &:hover {
              color: white !important;
              background-image: linear-gradient(to left, #7EC341, #3BB54A);
            }
          }
        }
        &.btnLog {
          width: 100%;
          height: 2.375rem;
          margin: 2px;
        }
      }
    }
  }

  .slider-content {
    .swiper-container-slide {
      .swiper-wrapper {
        .swiper-slide {
          width: 553px;
          height: 375px;

          .text-overlay {
            width: 19.815rem;
            height: 7.875rem;
            top: 25%;
            left: 45%;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
          }

          button.slide-btn {
            top: 50%;
            left: 3%;
            width: 15.125rem;
            height: 3rem;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
          }
        }
      }
    }
  }

}

// Medium devices (577px < screen < 991px)
@media (max-width: 991px) and (min-width: 577px) {
  #collapsibleNavbar {
    background-color: white;

    .navbar-nav {
      .nav-item {
        margin: 1px;

        .nav-link {
          text-decoration: none;

          &.text-body {
            border-radius: 22px;
            border: 2px solid #3BB54A;
            background-color: white;
            text-align: center;

            &:hover {
              color: white !important;
              background-image: linear-gradient(to left, #7EC341, #3BB54A);
            }
          }
        }
        &.btnLog {
          width: 100%;
          height: 2.375rem;
          margin: 2px;
        }
      }
    }
  }

  .navbar {
    .container-fluid {
      .d-flex {
        .navbar-toggler {
          &.icon-search {
            display: inline;
          }
        }
      }
    }
  }


  .slider-content {
    .swiper-container-slide {
      .swiper-wrapper {
        .swiper-slide {
          .text-overlay {
            width: 34.6875rem;
            height: 7.125rem;
            top: 30%;
            left: 40%;
            font-size: 38px;
            line-height: 57px;
            font-weight: 700;
            ;
          }

          button.slide-btn {
            top: 50%;
            left: 3%;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
          }

        }
      }
    }
  }

}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }